#intro {
    margin-top: 50px;
    background-image: url("../imgs/consultoria-de-arquitetura-de-ti1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin-top: -50px;
    margin-left: 200px;
}

#intro h1 {
    font-size: 70px;
}

#intro h3 {
    font-size: 20px;
    width: 70%;
    margin-bottom: 5px
}

.title {
    color: #fff;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 40px;
}

.service-description {
    width: 80%;
    height: 100%;
    background-color: #141C23;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 30px;
}

.service-description p {
    color: #fff;
    width: 70%;
    padding: 50px;
    font-size: 18px;
}

span {
    color: #13ED9F;
}

.box-services {
    width: 450px;
    height: 300px;
    background-color: #131212;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: 90%;
    margin-bottom: 30px;
}

.box-services h3 {
    color: #13ED9F;
    font-size: 20px;
    padding: 20px;
}

.box-services p {
    width: 90%;
    height: 100%;
    font-size: 18px;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.service-content {
    width: 80%;
    height: 100%;
    background-color: #141C23;
    margin: 30px auto;
    font-size: 18px;
    padding-bottom: 30px;
}

.title-content {
    margin: 0;
    padding: 50px 0 0 50px;
}

.service-content ul {
    width: 80%;
    color: #fff;
    margin: 50px;
}

.service-content li {
    margin-bottom: 15px;
}

.service-contato {
    width: 80%;
    margin: auto;
    display: flex;
}

.service-contato h3 {
    font-size: 30px;
}

.form-container {
    background-color: #141C23;
    width: 50%;
    height: 550px;
    align-items: flex-start;
}

.form-container h3 {
    color: #13ED9F;
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
}

.input-item {
    background-color: #373937;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    padding: 15px;
    color: #fff;
    border: none;
    outline: 0;
}

.input-item:focus {
    border: 1px solid #13ED9F;
}

.input-item:hover{
    border: 1px solid #13ED9F;
}

.input-item::placeholder {
    color: #fff;
}

.form textarea {
    background-color: #373937;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    color: #fff;
    height: 200px;
}

.input-item:required:valid {
    border: 1px solid #13ED9F;
}

.input-item:not(:placeholder-shown):invalid {
    border: 1px solid #ed1e13;
}

.background {
    width: 50%;
    height: 550px;
    background-image: url("../imgs/shutterstock_329205053-scaled-31.png");
    background-size: cover;
    background-repeat: no-repeat;
}


