@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto";
}

body {
    background-color: #131212;
}

nav {
    background-color: #13ED9F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;  
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.fa-confluence {
    font-size: 40px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

.item-menu {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    font-size: 22px;
}

.item-menu:hover {
    border-bottom: 1px solid #000;
}

.btn-back {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    transition: 0.3s;
}

.btn-back:hover {
    transform: scale(1.1);
}

.btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: #13ED9F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(1.1);
}

.fa-circle-arrow-left {
    color: #13ED9F;
}


/*FOOTER*/

footer{
    border-bottom: 1px solid #13ED9F;
    border-top: 1px solid #13ED9F;
    padding: 60px 0;
    margin: 80px auto;
    width: 80%;
}
footer section .fa-confluence{
    color: #13ED9F;
    font-size: 80px;
}

.company_name{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer h1{
    color: white;
    align-self: center;
    font-size: 50px;
    letter-spacing: 1px;
    
}
.footer_logo{
    display:flex;
    gap: 0 20px;
    flex-basis: 100%;
    justify-content: center;
    
}
.nossas_redes{
    display: flex;
    flex-wrap: wrap;
    color: #13ED9F;
    justify-content: center;
    text-align: center;
}
.nossas_redes p{
    flex-basis: 100%;
    justify-content: center;
    padding: 40px 0 20px 0;
}

.fa-brands{
    color: #13ED9F;
    padding: 0 10px;
    font-size: 35px;
}
.nossas_redes i:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.copyright{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}
.voltar_topo{
    text-align: center;
    padding-top: 40px ;
    font-size: 15px;
    
}
.voltar_topo i:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.voltar_topo >a{
    text-decoration: none;
    color: white;
}
.fa-circle-arrow-up{
    color: #13ED9F;
    font-size: 20px;
}
