header ul {
    display: flex;
    list-style: none;
    gap: 70px;
    font-weight: bold;
    font-size: 40px;
}

.item-menu {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    font-size: 22px;
}

.item-menu:hover {
    border-bottom: 1px solid #000;
    transform: scale(1.1);
    transition: 0.3s;
}

#intro {
    margin-top: 50px;
    background-image: url("../imgs/tecnologia-da-informacao2.png");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
}

.content {
    margin-left: 100px;
    flex-direction: column;
    justify-content:center;
    margin-top: -50px;
}

#intro h1 {
    font-size: 60px;
}

#intro h3 {
    font-size: 30px;
}

#intro h5 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

#about {
    width: 80%;
    height: 100%;
    padding-top: 20px;
    gap: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.make {
    display: flex;
    align-items: center;
    width: 100%;
}

.make img {
    width: 50%;
    height: 300px;
    height: relative;
    justify-self: flex-end;
    left: 50%;
    position: relative;
    z-index: -1;
}

.make div {
    background-color: #141C23;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    gap: 10px;
    position: absolute;
    width: 45%;
    height: 240px;
}

.make h2, .history h2 {
    color: #13ED9F;
    font-size: 20px;
}

#about i {
    color: #13ED9F;
    font-size: 45px;
    text-align: left;
    margin-left: 90%;
}

.history {
    display: flex;
    align-items: center;
    width: 100%;
}

.history img {
    width: 50%;
    height: 300px;
    justify-self: flex-end;
    position: relative;
    z-index: -1;
}

.history div{
    background-color: #141C23;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    gap: 10px;
    position: absolute;
    left: 45%;
    width: 45%;
    height: 240px;
}

#about a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#about a:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/* SERVIÇOS */
#servicos{
    width: 80%;
    background-color: #141C23;
    padding-top: 70px;
    margin: auto;
    margin-top: 40px;
}
.serviços-nav{
    color: white;
    width: 60%;
    padding-left: 20px;
}
.serviços-nav h2{
    font-size: 40px;
}
.serviços-nav p{
    margin: 50px 0;
}
.mini-services-geral{
    display: flex;
    justify-content:space-between;
}
.mini-services{
    display: flex;
    flex-direction: column;
    background-color: #131212;
    margin: 30px;
    padding: 20px;
    width: calc(100%/3);
    height: 600px;
    justify-content: space-around;
    gap: 20px;
}
.mini-services p{
    color: white;
}
.quali-equip{
    color: white;
    font-size: 14px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.vermais-serv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    background-color: #13ED9F;
    border-radius: 10px;
    font-weight: bold;

}
.vermais-serv:hover{
    transform: scale(1.1);
    transition: 0.3s;
} 
 
#contact {
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#contact i {
    font-size: 50px;
}

.title-container {
    flex-basis: 100%;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    padding-left: 20px;
}

.inform-contact {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.inform-contact h4 {
    font-size: 20px;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-container div {
    justify-self: center;
}

.contact-container .fa-solid {
    color: #13ED9F;
}

.maps {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.maps p {
    color: #fff;text-align: center;
    font-size: 18px;
}

.maps iframe {
    width: 60%;
    height: 300px;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    #intro {
        background-attachment: initial;
        background-position: center;
        background-size: 100%;
        margin-top: 0;
    }

    header ul {
        gap: 40px;
    }

    #intro h1 {
        font-size: 50px;
    }

    #intro h3 {
        font-size: 20px;
    }

    #intro h5 {
        font-size: 16px;
    }

    .make div, .history div {
        height: 220px;
        font-size: 12px;
        padding: 10px;
    }

    #about img {
        height: 240px;
    }

    #about h2 {
        font-size: 16px;
    }

    #about i {
        font-size: 30px;
        margin-top: 5px;
    }

    .mini-services-geral {
        flex-direction: column;
    }

    .mini-services {
        width: 80%;
        height: 100%;
    }

    .inform-contact p {
        font-size: 14px;
    }

    #contact i {
        font-size: 40px;
    }

    #contact h4 {
        font-size: 16px;
    }

}

@media only screen and (max-width: 800px) {
    #intro {
        background-image: url("../imgs/backprincipal-mobile.png");
        margin-top: 0;
    }

    nav {
        flex-direction: column;
    }

    header ul {
        gap: 40px;
    }

    .content {
        margin: 0;
        text-align: center;
        width: 95%;
    }

    #intro {
        align-items: center;
    }

    #intro a {
        display: inline-flex;
        
    }

    #intro h1 {
        font-size: 30px;
    }

    #intro h3 {
        font-size: 14px;
    }

    #intro h5 {
        font-size: 11px;
    }

    .make div, .history div {
        height: 240px;
        font-size: 12px;
        padding: 10px;
    }

    #about img {
        height: 240px;
    }

    #about h2 {
        font-size: 16px;
    }

    .title-container {
        font-size: 30px;
    }

    .make {
        flex-direction: column;
        
    }

    .make div, .history div{
        width: 100%;
        position:static;
        font-size: 12px;
    }

    #about i {
        font-size: 35px;
    }

    #about img {
        display: none;
    }

    .serviços-nav {
        margin: auto;
        width: 90%;
        padding: 0;
    }

    .mini-services-geral {
        align-items: center;
    }

    .mini-services {
        font-size: 11px;
        align-items: center;
    }

    #contact {
        flex-direction: column;
        gap: 20px;
    }

    .inform-contact {
        width: 100%;
        padding: 0;
        gap: 15px;
    }

    .maps iframe {
        width: 100%;
    }

}


@media only screen and (max-width: 480px) {
    #intro {
        background-image: url("../imgs/backp-mob.png");
    }

    .item-menu {
        font-size: 18px;
    }

    .content {
        width: 80%;
    }

    #intro h3 {
        font-size: 12px;
    }

    #about {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .item-menu {
        font-size: 14px;
    }

    .title-container {
        font-size: 25px;
        margin: 0;
        padding-left: 0;
    }

    .make div, .history div {
        height: 100%;
        font-size: 10px;
        text-align: left;
    }

    .make h2, .history h2 {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }

    #about a {
        font-size: 16px;
        border-bottom: 1px solid #13ED9F;
        padding-bottom: 20px;
    }

    .serviços-nav {
        text-align: center;
    }

    #servicos p {
        font-size: 12px;
    }

    .serviços-nav h2 {
        font-size: 25px;
    }

    .mini-services-geral {
        padding: 10px;
    }

    .mini-services {
        width: 100%;
        text-align: center;
    }

    .quali-equip {
        text-align: center;
        font-size: 12px;
    }

    .img-content {
        background-image: url("../imgs/inovacao-875x500 1.png");
        width: 90%;
        background-repeat: no-repeat;
        margin: auto;
        height: 113.3px;
        background-size: 100%;
    }

    #contact {
        align-items: center;
    }

    #contact i {
        font-size: 30px;
    }

    #contact h4 {
        font-size: 12px;
    }

    .inform-contact p {
        font-size: 12px;
        text-align: center;
    }

    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .contact-container .fa-solid {
        font-size: 2px;
    }

    .inform-contact img {
        display: none;
    }

    .maps {
        display: none;
    }

}





