#intro {
    margin-top: 50px;
    background-image: url("../imgs/tecnologia-da-informacao.png");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
}

.content {
    margin-left: 200px;
    flex-direction: column;
    justify-content:center;
    margin-top: -50px;
}

#intro h1 {
    font-size: 70px;
}

#intro h3 {
    font-size: 35px;
}

#intro h5 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
.btn {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #13ED9F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.1);
}

#contact {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#contact h2 {
    flex-basis: 100%;
    color: #fff;
    margin-top: 50px;
    font-size: 40px;
}

.inform-contact {
    width: 50%;
}





